<div class="section section-1">
    <p>
        A plataforma oferece uma solução integrada para monitoramento e análise de indicadores de saúde pública em tempo real.
        Com dados centralizados e análises detalhadas, o sistema permite identificar tendências e padrões de saúde, facilitando
        a tomada de decisões mais informadas e rápidas em momentos críticos, como surtos de doenças.
    </p>    
</div>
<nav class="section section-2">
    <a routerLink="/404" class="banner banner-1">
        <img src="/background1.jpg" alt="">
        <button class="btn">Consultas</button>
    </a>
    <a routerLink="/404" class="banner banner-2">
        <img src="/background2.jpg" alt="">
        <button class="btn">Minha Região</button>
    </a>
    <a routerLink="/404" class="banner banner-3">
        <img src="/background3.jpg" alt="">
        <button class="btn">Exames</button>
    </a>
</nav>
